<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class = "col-md-6 offset-md-3 text-center">
        <h2>CURSO: Proyecto Integrador</h2>
        <h2>PROFESOR: Jorge Jacinto</h2>
        <h2>PROYECTO: Sistema de Prestamos</h2>

        <h3>Primera Entrega:</h3>
        <p>Yo como prestatario deseo ingresar al sistema (Login y registro de prestatario)</p>
        <p>Yo como prestamista deseo ingresar al sistema (Login y Crud de prestatario)</p>
        <p>Yo como Jefe de prestatario deseo ingresar al sistema (Login y Crud de prestamista)</p>
        <p>Yo como Inversionista deseo ingresar al sistema (Login y Crud de Jefe de Prestamista)</p>
      </div>
    </div>
  </div>
</div>
